h1 {
    font-family: 'Inter', sans-serif;
  }
  
p {
    font-family: 'Inter', sans-serif;
}

h6 {
    font-family: 'Inter', sans-serif;
}





#header{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #fff;
}

.imglogo1{
    height: 70px;
    width: 70px;
    padding: 0%;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 40px;
}

.navbar li a{
    text-decoration: none;
    font-size: 30;
    font-weight: 400;
   
    color: black;
}



 /*======== SLIDER ========*/


#slider{
    display: flex ;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( #9CB5BA, #D2ACCF, #E9BAE8);
}

#slider img{
    height: 100%;
    width: 100%;

}

.textslider{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 40px 100px;
    height: 400px;
    width: 550px;
    margin-top:75px;
    
}

.textslider h1{
    padding-bottom: 10px;
    font-size: 45px;
   
}

.textslider p{
    margin-top: 0;
}



.textslider button{
    font-size: 15px;
    padding: 10px 50px 10px 40px;
    background-color: #3A255C;
    margin-top: 80px;
    color:#fff;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-weight: 700;

}

/*============= SERVIÇOS =============*/

#service {
    padding: 0;
    background-color: #EBE7E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    width: 210px;
    padding: 10px 12px;
    text-align: center;
    margin:10px 100px;


}

.cambox{
    width: 70%;
    height: 70%;
    margin-bottom: 5px;
}

.cartaobox{
    width: 70%;
    height: 70%;
    margin-bottom: 5px;
}

.localbox{
    width: 50%;
    height: 50%;
    margin-bottom: 5px;
}

.box h6{
    font-size:20px;
    color:#44749D;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 3px;
    
}

/*============== LANCAMENTOS ==================*/

#lancamentos{
    display: flex;
    flex-direction: column;
}

.lanca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.boxcel{
    width: 200px;
    padding: 15px 18px;
    text-align: center;
    margin:10px 100px;
    border: 1px solid black;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.imgest {
    width: 90%;
    height: 90%;
    margin-top: 5px;
}

.imgcel-1{
    width: 90%;
    height: 90%;
}

.imgcel-2{
    width: 60%;
    height: 60%;
}

.imgcel-3{
    width: 80%;
    height: 80%;
}

.boxcel p{
    color: red;
    margin-top: 5px;
}

.boxcel h6{
    font-size: 20px;
    margin-top: 20px;

}

#lancamentos h1{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 50px;
  }
  
  #lancamentos button{
      
      font-size: 20px;
      padding: 10px 30px;
      background-color: #44749D;
      margin-top: 80px;
      margin-left: 500px;
      margin-right: 500px;
      color:#fff;
      font-family: 'Inter', sans-serif;
      cursor: pointer;
      font-weight: 700;
      margin-bottom: 30px;

       
  }


  /*======================== Sobre ===============================*/

  #sobre{
    display: flex ;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( #000006, #030029, #0F0252);
  }

  .textsob{
    color:#fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    padding: 40px 120px;
    height: 200px;
    width: 550px;
    margin-top:75px;
  }

  .textsob h1{
    
    font-size: 40px;
  }

  .textsob p{
    font-size: 20px;
    margin-top: 25px;
  }

  .iphonesob{
    width: 60% ;
    height: 80% ;
    margin-top: 20px;
    padding: 0 20px;
  }